.list-sites {
	.selected-model {
		pointer-events: none;

		> label {
			text-decoration: line-through;

			&::before {
				opacity: 0.4;
			}
		}
	}

	.disabled {
		pointer-events: none;

		> label {
			text-decoration: line-through;

			&::before {
				opacity: 0.4;
			}
		}
	}
}
